.nav
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem 0;
	background-color: #029FD5;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: large;
	font-weight: bold;
	font-style: italic;
	color: #fff;
}
.content
{
	width: 80%;
	margin: 0 auto;
}